@model Category
@{
    <form method="post" class="bordered p-3">
        <h2 class="text-center text-black mb-3">Create Category</h2>
        <div class="d-flex bordered flex-column" style="gap:2rem">
            @*<div asp-validation-summary="All"></div>*@
            <div class="col w-100">
                <input placeholder="Category Name" class="p-3 w-100" asp-for="Name" type="text">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col w-100">
                <input placeholder="Display Order" class="p-3 w-100" asp-for="DisplayOrder" type="number">
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2 ">Create</button>
        <a class="text-back ml-3 fw-bold" asp-controller="Category" asp-action="Index"> back to list</a>
    </form>
}
@*Creating a partial script to validate on client side*@
@section Scripts    {
    @{
       <partial name="_ValidationScriptsPartial" />
    }
}