@model List<Product>;
@{

    <main class="">
        <div class="row pt-5">
            <div class="col-6">
                <h2 class="align-content-center">Product List</h2>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-success" asp-controller="Product" asp-action="Upsert">
                    <i class="bi bi-plus-circle"></i>
                    Create Product
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table—striped">
           <thead>
               <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
               </tr>
            </thead>
        </table>
    
    
    </main>
}
<style>
    .book-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, auto); /* 2 rows, height adjusts to content */
        gap: 20px; /* Space between items */
        width: 100%; /* Full width container */
    }

    .book-card{
        height:100%;
    }

    .Desc{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:200px;
        
    }
</style>

@section Scripts{
    <script src="~/js/product.js"></script>

}